# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions
# More info on Python, GitHub Actions, and Azure App Service: https://aka.ms/python-webapps-actions

name: Deploy FastAPI app to Azure Web App - api-easyocr-app

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      # 1️⃣ Pobranie kodu z repo
      - name: Checkout code
        uses: actions/checkout@v4

      # 2️⃣ Logowanie do Azure
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_889C09FCB65849769FD1D624ECC1E25D }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_9BD5F15ABA9D45F58531626A14CC03A1 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_8C98DA947F1344BE8A650C89D45B7C32 }}

      # 3️⃣ Deploy aplikacji (BEZ Oryx, BEZ builda)
      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: api-easyocr-app

          
